{% extends "base.html" %}
  

{% block titleandlinks %}
<title>Study on Building Infrustracture Recognition Using Deep Learning Methods</title>
{% endblock %}

{% block header %}
  <h2 p-0 m-0 style=" color: blue; margin: auto;">A Study on Building Infrustracture Recognition Using Deep Learning Methods</h2>
{% endblock %}


{% block content %}
 <!-- something extended heare-->
<div>
    <h1 align="center" >Welcome to <br><br> <strong style="font-size: 250px;color: #3399ff">KUET</strong></h1>
</div>
{% endblock %}